{name, "eopenid"}.
{description, "Erlang consumer library for OpenID"}.
{homepage, "https://github.com/etnt/eopenid"}.
{url, {git, "https://github.com/nox/eopenid.git", {branch, "rebarify"}}}.
{authors, ["Torbjorn Tornkvist <tobbe@klarna.com>"]}.
{license, "MIT", "LICENSE"}.
{rebar_compatible, true}.
{install_command, "$AGNER_PACKAGE_REPO/install.sh"}.
